button, label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#add-book {
    margin-top: 40px;
}

label {
    padding: 0.2rem;
}

.deleteButton {
    margin-left: 5px;
}

#library {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.toggleReadButton {
    margin-left: 5px;
}

input {
    border: 2px solid black;
    border-radius: 8px;
}
input:user-invalid {
    border: 2px solid red;
    border-radius: 8px;
}
