button, label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

dialog {
    position: flex;
    align-items: center;
    justify-content: center;

    width: 600px;
    max-width: 100%;
    max-height: 100%;
}

dialog > * {
    display: grid;
    grid-template-rows: auto;
}

#add-book {
    margin-top: 40px;
}

label {
    padding: 0.2rem;
}

.deleteButton {
    margin-left: 5px;
}

#library {
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.toggleReadButton {
    margin-left: 5px;
}